
# Ignorar el entorno virtual de Python
.env/

# Ignorar dependencias instaladas por pip
*.egg-info/
*.eggs/

# Ignorar archivos de configuración de AWS CDK
.cdk.out/

# Ignorar credenciales de AWS
.aws/

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos generados por sistemas de OS (como macOS)
.DS_Store
Thumbs.db

